
body {
}


footer {
    margin-top: 300px;
    padding: auto;
    float: bottom;
    height: 50px;
    text-align: center;
    color: #7A7A7F;
}

div.title h1, div.title p{
    margin-bottom: 20px;
}

div.max-width{
    min-width: 1280px;
    max-width: 1280px;
    margin: auto 70px auto;
}

header#main-menu {
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 2280px;
    margin: auto;
    padding: 0;
}

header#main-menu li {
    position: relative;
    top: 30px;
    display: inline;
    margin: 10px;
    font-size: 14px;
    font-family: "Univers47",sans-serif;
    text-transform: uppercase;
}

header#main-menu a {
    color: #7A7A7F;
}

header#main-menu a:hover {
    /*to get rid of the underline*/
    text-decoration: none;
    color: darkgray;
}

img#main-menu-logo {
    width:120px;
    height: 60px;
    margin-right: 60px;
    float: left;
}

table#perkTable {
    margin: 100px auto 0;
    border-spacing: 15px;
    border-collapse: separate;
    opacity: 0.8;
}

table#perkTable td {
    padding: 40px;
    border: 1px solid #7A7A7F;
    border-radius: 10px;
    width: 300px;
    height: 100px;

    text-align: center;
    font-family: 'HyundaiSansHead-Regular';
    font-weight: 400;
    font-size: 12pt;
    opacity: 0.8;
    color: #413F40;
}

table#gallery img.fullsize {
    width: 1200px;
    height: 505px;
}
table#gallery img.big-collage-first{
    width: 800px;
    height:505px;
}

table#gallery img.big-collage-second{
    display: block;
    margin: 1px;
}

table#gallery img.big-collage-third{
    display: block;
    margin:1px;
}

table#gallery td, table#gallery tr{
    display: inline-block;
    margin: 1px;
}

table#gallery img{
    width: 397px;
    height:250px;
}

form#contact{
    margin-top: 100px;
    margin-left: 100px;
}

form#contact input, form#contact textarea, form#contact button{
    float: left;
    width: 600px;
    height:50px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.8;
}

form#contact button{
    background-color: lightgray;
    width: 200px;
    height: 50px;

    /*
    transitioning
    */
    opacity: 0.6;
    transition: 0.3s;

    /*
    position
    */

    position: relative;
    top: 210px;
    right: 618px;
}

form#contact button:hover{
    opacity: 1;
 }

form#contact textarea#comment {
    width: 600px;
    height: 170px;

    min-height:100px;
    max-height: 200px;

    min-width: 550px;
    max-width: 800px;
}

/*
 Google map
*/
map {
    /*
        positions x and y of the map
     */
    position: relative;
    bottom: 80px;
    right: 160px;
    display: inline-block;
}

map iframe {
    height: 340px;
    width: 300px;

}